<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <!-- Unity 6 GameActivity Main/Launcher Activity -->
        <activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:theme="@style/BaseUnityGameActivityTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />

            <meta-data
                android:name="android.app.lib_name"
                android:value="game" />
        </activity>

        <!-- Google 계정 선택창을 띄우는 Activity -->
        <activity
            android:name="com.dojang.signsong.GoogleAuthActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>